Repository mozilla/bugbug, pull requests merged in 2020-07, with the labels that each got.

#1692 To pull, use the robustcheckout command instead of the pull command
  bugbug/repository.py
  http_service/tests/conftest.py
Labels: enhancement

#1715 Pull running 'hg pull' instead of using hglib to benefit from Mercurial's default transaction rollback
  bugbug/repository.py
  http_service/tests/conftest.py
Labels: enhancement

#1720 Fix order of assertion and logging
  http_service/bugbug_http/boot.py
Labels: bug, python

#1716 Raise exceptions to track in Sentry
  http_service/bugbug_http/models.py
Labels: bug, http_service, python

#1722 Submit logged warnings to Sentry
  http_service/bugbug_http/worker.py
Labels: docker, enhancement, http_service, python

#1734 Add Sentry to Pulse listener and Http service
  http_service/bugbug_http/app.py
  http_service/bugbug_http/listener.py
  http_service/bugbug_http/sentry.py
  http_service/bugbug_http/worker.py
  http_service/docker-compose.yml
  http_service/requirements.txt
Labels: dependencies, docker, http_service, python
